.banner-section h1, .banner-section p, .banner-section .block-editor-rich-text__editable.wp-block-button__link, .products-outer-box h2, .products-outer-box .wc-block-grid__product-title, .products-outer-box .wc-block-grid__product-price.price{
  font-family: 'Poppins', sans-serif;
}
.banner-section, .products-outer-box{
  width: auto;
  height: auto;
}
/*Banner section*/
.banner-section p{
  font-weight: 600;
}
.wp-block-buttons.aligncenter {
  border: none;
}
.block-editor-rich-text__editable.wp-block-button__link {
  font-size: 15px;
  font-weight: bold;
}
.block-editor-rich-text__editable.wp-block-button__link:hover {
  background: #2c2b2b !important;
}
.wp-block-buttons.block-editor-block-list__block.block-editor-block-list__layout{
  margin-top: 0;
}
.block-editor-rich-text__editable.block-editor-block-list__block.wp-block {
  margin-bottom: 0;
}
/*Trending Product section*/
.products-outer-box, .products-container {
  margin: 0 auto !important;
}
h2.has-text-align-left{
  margin: 0 0 40px !important;
}
h2.has-text-align-left:after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 10px;
  width: 100%;
  padding: 25px 0;
}
.wc-block-grid__product-onsale {
  display: none !important;
}
.wc-block-grid__product-title{
  font-size: 18px !important;
  color: #2c2b2b !important;
}
a.wc-block-grid__product-link {
  text-decoration: none !important;
}
span.woocommerce-Price-amount.amount {
  color: #d51c22;
  font-size: 15px;
  font-weight: 700;
}
.wc-block-grid__product-rating .star-rating span:before, .wc-block-grid__product-rating .wc-block-grid__product-rating__stars span:before{
  color: #feaf18;
}
.products-outer-box a.wp-block-button__link.add_to_cart_button{
  color: #fff;
  background: #d51c22;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 15px;
  border-radius: 5px;
}
@media screen and (max-width:781px) {
  .wp-block-column.is-vertically-aligned-center{
    flex-basis: 100%!important;
    margin: 0;
  }
  .wp-block-columns.alignwide{
    margin: 0;
  }
  h1.has-text-align-center {
    font-size: 30px;
  }
}